.image-square {
    display: flex;
    align-items: center;
    justify-self: center;
    @include square(56px);
    border-radius: 100%;
    overflow: hidden;

    &--small {
        @include square(32px);
    }

    &--tiny {
        @include square(24px);
    }

    &.has-border {
        @include border (1px, solid, $color-border);
    }

    &.is-active {
        border: 2px solid $color-secondary;
            img {
                border: 1px solid $color-white;
                border-radius: 100%;
            }
    }
}