.image-square {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    overflow: hidden;

    &--small {
        width: 32px;
        height: 32px;
    }

    &--tiny {
        width: 24px;
        height: 24px;
    }
}

.image-square {
    &.has-border {
        border: 1px solid $color-border;
    }

    &.is-active {
        border: 2px solid $color-secondary;
            img {
                border: 1px solid $color-white;
                border-radius: 100%;
            }
    }
}