.content-wrapper__aside {
    display: none;
}

@media screen and (min-width: 800px) {
    .content-wrapper {
        display: flex;
        margin: 0 -15px;

        &__main {
            padding: 0 15px;
            width: 70%;
        }

        &__aside {
            padding: 0 15px;
            display: block;
            flex: 1;
        }

        &__aside-user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }
}