.page-footer {
    padding: 30px 0;
    font-size: 12px;
    color: $color-dark;
    
    &__nav {
        margin-right: 10px;
        color: $color-dark;

        a {
            margin-right: 10px;
            color: $color-dark;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
}
