.suggestion-box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 12px;

    h2 {
        margin: 0;
        font-size: inherit;
        color: $color-dark;
    }

    a {
        color: $color-black;
        font-weight: bold;
    }
}