.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 10px $color-secondary;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-shrink: 0;
        position: relative;

        &::after {
            content: "BETA";
            color: $color-black;
            position: absolute;
        }

        img {
            display: block;
        }
    }

    &__search {
        display: none;

        @media screen and (min-width: 800px) {
            display: block;
        }
    }
}