$color-white: #ffffff;
$color-black: #000000;
$color-primary: #3095f6;
$color-secondary: #dd2a7c !default;
$color-border: #dbdbdb !default;
$color-dark: #969696 !default;
$color-light: #efefef !default;
$color-body: #fafafa !default;